* {
    margin: 0;
    padding: 0;
    background-color: rgb(163, 200, 200);
    text-align: center;
}
h1{
    background-color: #284d78;
    color: #837e7e;
    height: 3rem;
    line-height: 3rem;
}
.choice{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color:#081b31;
}
img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score.board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user , #com {
    font-size: 3rem;
}

#result {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.result.container {
    margin-top: 5rem;
}